.about-section {
    background-color: var(--light-blue);
  }
  
  .mission-statement {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 2rem;
  }


  .mission-title {
    font-size: 1.4rem;
    color: var(--primary-color);
  }

  .mission-description {
    color: var(--primary-color);
    margin-bottom: 0;
  }