<div *ngIf="product" class="container py-5">
    <div class="row">
      <div class="col-12 mb-4">
        <button (click)="goBack()" class="btn btn-outline-primary">
          <i class="bi bi-arrow-left"></i> Back to Products
        </button>
      </div>
      
      <div class="col-md-6 mb-4">
        <div class="main-image-container bg-light p-3 rounded text-center mb-3 ">
          <img src="assets/images/ro/{{selectedImage}}" [alt]="product.name" class="img-fluid main-product-image">
        </div>
        
        <div *ngIf="product.additionalImages && product.additionalImages.length > 0" class="row g-2">
          <div class="col-3">
            <div 
              class="thumbnail-container p-2 rounded border" 
              [class.active]="selectedImage === product.imageUrl"
              (click)="setSelectedImage(product.imageUrl)">
              <img src="assets/images/ro/{{product.imageUrl}}" [alt]="product.name" class="img-fluid thumbnail">
            </div>
          </div>
          <div *ngFor="let image of product.additionalImages" class="col-3">
            <div 
              class="thumbnail-container p-2 rounded border" 
              [class.active]="selectedImage === image"
              (click)="setSelectedImage(image)">
              <img src="assets/images/ro/{{image}}" [alt]="product.name" class="img-fluid thumbnail">
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <h1 class="product-title">{{ product.name }}</h1>
        
        <div class="product-description mb-4 mt-5">
          <h5>Product Description</h5>
          <p *ngIf="product.detailDescription">{{ product.detailDescription }}</p>
          <p *ngIf="!product.detailDescription">{{ product.description }}</p>
        </div>
        
        <div *ngIf="product.features && product.features.length > 0" class="product-features mb-4">
          <h5>Features</h5>
          <ul class="feature-list">
            <li *ngFor="let feature of product.features">{{ feature }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!product" class="container py-5 text-center">
    <div class="alert alert-warning">
      Product not found!
    </div>
    
    <button (click)="goBack()" class="btn btn-primary">
      Return to Products
    </button>
  </div>