<section class="hero-section">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <h1 class="hero-title mb-5">{{ heroTitle }}</h1>
          <div class="d-flex flex-column flex-sm-row justify-content-center gap-3">
            <a [routerLink]="'/products'" class="btn btn-outline-light-prm custom-btn text-dark border-dark px-4 py-2">Explore Products</a>
            <a href="tel:{{ phone }}" class="btn btn-light btn-outline-light custom-btn text-dark border-dark px-4 py-2">Get a Free Consultation</a>
          </div>
        </div>
      </div>
    </div>
  </section>